.order_container a:hover,
.delivery:hover,
.logo_container a:hover,
.lower_container ul li:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.lower_container {
  background-color: #232f3e;
  color: white;
}
.lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower_container ul li {
  padding: 8px;
}
.lower_container ul li:first-child {
  align-items: center;
  display: flex;
  gap: 2px;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 350px;
}
.container button:not(.anatherbutton) {
  width: 350px;
  padding: 7px 0;
  background-color: #232f3e;
  color: #dddddd;
  border: none;
}
.container p {
  margin-top: 5px;
  margin-left: 10px;
  font-size: medium;
}
.sign {
  display: flex;
}
.sign .con {
  margin-left: 20px;
}
.container h3 {
  color: black;
  font-size: 18px;
  margin-top: 30px;
}
.container ul:not(.last) {
  border-bottom: 1px solid #dddddd;
}
.container ul li {
  list-style: none;
  line-height: 40px;
}
.container ul li a {
  text-decoration: none;
  color: rgb(61, 58, 58);
  font-size: 13px;
}
.left {
  margin-top: 10px;
}
.container ul {
  margin-left: 25px;
}
.container ul li:hover {
  background-color: #dddddd;
}
.container img {
  width: 18px;
  height: 12px;
  margin-right: 10px;
}
.wo {
  margin-top: 3px;
  padding-right: 10px;
}
.both {
  display: flex;
}
.anatherbutton {
  padding: 10px;
}
#toggle-list {
  display: none; /* Initially hidden */
}

#toggle-list.show {
  display: block;
}
@media screen and (max-width: 576px) {
  .lower_container ul li:not(:first-child) {
    display: none;
  }
}
